.card__title {
  grid-area: 3 / 1 / 4 / 4;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  font-family: Rubik, sans-serif;
  color: #086788;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}
