.header__logo {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  justify-self: start;
}

@media screen and (max-width: 480px) {
  .header__logo {
    margin-left: -30px;
    width: 80%;
  }
}

.header__link :hover {
  opacity: 0.7;
}
