@import url('./__container/lead__container.css');
@import url('./__image/lead__image.css');
@import url('./__title/lead__title.css');

.lead{
    /* display: flex;
    flex-direction: row;
    align-content: center; */
    /* max-width: 984px; */
    margin: auto;
    margin-bottom: 5.5%;
}