.hero__title {
  grid-area: 3 / 2 / 4 / 3;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  margin: 0;
  font-family: Montserrat Alternates, sans-serif;
}

@media screen and (max-width: 1024px) {
  .hero__title {
    grid-area: 4 / 2 / 5 / 3;
    align-self: start;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .hero__title {
    grid-area: 4 / 1 / 5 / 4;
    font-size: 48px;
    line-height: 120%;
    text-align: left;
  }
}

@media screen and (max-width: 380px) {
  .hero__title {
    grid-area: 4 / 1 / 5 / 4;
    font-size: 36px;
    line-height: 100%;
  }
}



/*
@media screen and (max-width: 350px) {
  .hero__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
} */
