.header__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  margin-right: 18px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.header__link :hover {
  opacity: 0.6;
}
