.main__title {
  max-width: 461px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  margin: 0 auto;
  text-align: left;
  font-family: Montserrat Alternates;
}

@media screen and (max-width: 1024px) {
  .main__title {
    margin: 0;
  }
}
/* 
@media screen and (max-width: 350px) {
  .main__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
} */
