.main__title {
  max-width: 461px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 64px;
  font-style: normal;
  line-height: 78px;
  /* or 104% */
  margin: 0 auto;
  text-align: left;

   color: #086788; 
 

}

/* @media screen and (max-width: 768px) {
  .main__title {
    font-size: calc(12vw);
  }
}

@media screen and (max-width: 350px) {
  .main__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
} */
