.main__subtitle {
  max-width: 640px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  max-width: 640px;
  text-align: left;
  color: #FFFFFF;
}

@media screen and (max-width: 330px) {
  .main__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    /* border: 1px solid green;*/
  }
}
