.main__subtitle {
  max-width: 469px;
  font-size: 21px;
  line-height: 25px;
  text-align: left;
  font-weight: 300;
  font-family: Rubik;
}
/* 
@media screen and (max-width: 330px) {
  .main__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
} */
