.creation-event__title {
  font-weight: bold;
  font-size: 36px;
  /* color: #086788; */
  max-width: 495px;
  font-family: Montserrat Alternates;
  line-height: 44px;
  margin-top: 7.6%;
  margin-bottom: 7.12%;
}
