@import url("./__form/creation-event__form.css");
@import url("./__title/creation-event__title.css");
@import url("./__label/creation-event__label.css");
@import url("./__input/creation-event__input.css");

.creation-event {
  grid-area: 1 / 3 / 2 / 4;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 116px;
}
