.page-events__content-info{
    max-width: 470px;
    display: flex;
    flex-direction: row;
     margin-top: 0;
    margin-bottom: 0; 
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 60px;
  
}

