@import url('./__image/event__image.css');
@import url('./__title/event__title.css');
@import url('./__address/event__address.css');
@import url('./__date/event__date.css');
@import url('./__author/event__author.css');
@import url('./__poem/event__poem.css');
@import url('./__line/event__line.css');
@import url('./__button/event__button.css');


.event {
    grid-area: 1 / 3 / 2 / 4;
    grid-auto-flow: row;
    display: grid;
    grid-template-rows: 80px min-content 80px min-content 60px max-content 8px min-content 60px min-content 60px min-content 40px min-content 80px;
    grid-template-columns: 39px 1fr max-content 1fr 39px;
}



