.card__image{
    grid-area: 1 / 1 / 2 / 4;
    background-size: cover;
    background-position: center center;
    border-radius: 6px;
}

@media screen and (max-width: 480px) {
    .card__image {
        margin: 0 -24% 0 -24%
    }
}
