.events__image {
  width: 372px;
  height: 183px;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 31px;
}

@media screen and (max-width: 1024px) {
  .events__image{
    width: 223px;
    height: 110px;
  }
}