.events__container {
  margin: 0 15px;
  max-width: 540px;
  width: 40%;
  padding: 28px;
  height: 442px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 75px;
}
