@import url('./__title/events__title.css');
@import url('./__cards/events__cards.css');

.events {
  grid-area: 1 / 3 / 2 / 4;
  grid-auto-flow: row;
  display: grid;
  grid-template-rows: 40px min-content 80px max-content 80px;
  grid-template-columns: 39px minmax(1px, 1202px) 39px;
}

@media screen and (max-width: 480px) {
  .events {
    grid-template-columns: 0 minmax(1px, 1202px) 0;
  }
}
