@import url("./__title/events__title.css");
@import url("./__subtitle/events__subtitle.css");
@import url("./__container/events__container.css");
@import url('./__image/events__image.css');

.events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}