.events__submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 56px;
  background: #f96900;
  border-radius: 10px;
  color: #FFFFFF;
}
