@import url('./__images/popup__images.css');
@import url('./__container/popup__container.css');

.popup {

  width: 980px;
  height: 634px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  visibility: hidden;
  opacity: 0;
  border: steelblue 1px solid;
}


